:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000e0;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
}

.table {
  width: 100%;

  margin-top: 40px;

  text-align: start;
  border-color: gray;
  border-radius: 8px 8px 0 0;
  border-collapse: separate;
  border-spacing: 0;

  font-size: 20px;
  line-height: 1.5;
  list-style: none;
}

.tableHeader,
.tableBody,
.taskRow,
.loaderRow {
  text-align: start;

  border-collapse: separate;
  border-spacing: 0;
}

.tableRow,
.dealRow {
  background: #fafafa;
}

.dealRow {
  background: white;

  transition: background 0.3s ease;
}
.dealRow:hover {
  background: #f5f5f5;
}

.taskRow {
  background: #f5f5f5;
}

.tableHeading,
.dealData {
  position: relative;

  padding: 16px;

  font-size: 34px;
  font-weight: 600;
  text-align: start;
  border-bottom: 1px solid #f0f0f0;

  overflow-wrap: break-word;
}

.dealData {
  font-size: 24px;
}

.taskDetails {
  border-bottom: 1px solid #f0f0f0;
}

.taskContent {
  display: flex;
}

.taskLeft,
.taskRight {
  flex: 1;
  padding: 0 16px;
}

.taskLeft,
.taskRight {
  text-align: left;
}

.taskStatus {
  margin-left: 8px;
}

.loader {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader svg {
  display: block;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
